<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="stylesheet" href="/static/startpage.css" />
    <title>Silli</title>
  </head>
  <body>
    <div class="AppIntro">
      
      <h3 class="welcome-to">Welcome to</h3>
      <h1 class = "app-name">Silli</h1>
        <div class="introText">
          <p>
            SILLI (Sorry I’m Late Language Improvisor) is an entertaining, interactive story generator that puts AI’s storytelling to the test! 
            This text-based improv game allows you to interact with our AI’s narrative by entering words to continue the story. See what SILLI story you can come up with! 
            
          </p>
      </div>
      
        <a href="http://127.0.0.1:5000/home" class="btn btn-secondary">Let's Get Started!</a>
        
    </div>
  </body>
</html>
