  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6A5E6B;
  }

  .AppIntro {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
  }

  .app-name{
      font-family: Comfortaa;
      color: white;
  }

  .nav-item:first-child{
      margin-right: auto;
      margin-left: 2rem;
  }

  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-link {
    color: #61dafb;
  }


  .introText{
    
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 3%;

  }

  .welcome-to{
    margin-top: 15%;
    font-family: Comfortaa;
    color: white;
  }

  